.nav-link {
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Make the text a bit bigger */
}

body {
    background-color: #212529; 
    color: white;
    text-align: center;
}

